.proceed-btn button{
    border: 0px;
    background-image: linear-gradient(to left, #32cd30, #026100);
    padding: 6px 16px;
    font-size: 22px;
    color: white;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.proceed-btn{
display: flex;
justify-content: center;
}