.step {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  justify-items: center;
}
/* .one{
    width: 350px;
} */
.doc-container {
  
  margin: 0px auto;
}
.one p{
    width: 330px;
}
.one img {
  width: 330px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

@media only screen and (max-width: 576px) {
  .step {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    text-align: center;
  } 
  .doc-container {
    margin: 0px auto;
  }
  .one img {
    width: 300px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }
}
