.footer-container p{
    margin: 2px 0px;
     color: white;    
}
.footer-container{
    background-color: #191919;
    height: 300px;
    margin-top: 175px;
}
.first-section{
     padding-top: 70px;
    margin: 0px auto;
    width: 90%;
}
.copyright{
    color: rgb(155, 155, 155);
}
.second-section{
    position: relative;
    top: 20%;
    width: 90%;
    margin: 0px auto;
}